<html>
    <head>
        <title>App Enquetes</title>
    </head>
    <body>
        <h1>Aplicação Enquetes - DSWeb 2024.1</h1>
        {% if pergunta_list %}
            <h3>Lista de Enquetes Cadastradas</h3>
            <ul>
                {% for p in pergunta_list %}
                    <li>
                        <a href="{% url 'enquetes:detalhes' p.id %}">
                            {{ p.texto }}
                        </a>&nbsp;&nbsp;
                        <a href="{% url 'enquetes:resultado' p.id %}">(Ver Parcial)</a>
                    </li>
                {% endfor %}
            </ul>

        {% else %}
            <p>Nenhuma enquete cadastrada até o momento.</p>
        {% endif %}
    </body>
</html>