<html>
    <head>
        <tltle>App Enquetes</tltle>
    </head>
    <body>
        <h1>Aplicação de Enquetes - DSWeb</h1>
        <h2>Parcial da Enquete #{{ enquete.id }}</h2>
        <h2>{{ enquete.texto }}</h2>
        <p><i>{{ enquete.data_pub }}</i></p>
        <p>Qunatidade de votos por alternativas:</p>
        <ul>
            {% for alt in enquete.alternativa_set.all %}
                <li>
                    {{ alt.texto }} = {{ alt.quant_votos }} voto{{ alt.quant_votos | pluralize }}
                </li>
            {% endfor %}
        </ul>
        <a href="{% url 'enquetes:votacao' enquete.id %}">Votar Novamente</a>

    </body>
</html>